.header {
    height: 80px;
    background: #fff;
    width: 100% !important;
    display: flex;
    justify-content: center;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.header .navbarLogo {
    font-size: 18px;
    line-height: 20px;
}

.header .navbarList .dropdown {
    font-size: 15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #333;
    font-weight: normal;
    letter-spacing: normal;
}

.header .navIcon {
    position: relative;
}

.header .navIcon .btnIcon {
    background-color: #ededed;
    color: #a04242;
    border-radius: 5px;
    margin: 0px 0px 0px 5px;
    width: 32px;
    height: 32px;
}

.header .navIcon .btnIcon .icon {
    font-size: 13px;
}

.header .navIcon .btnIcon:hover {
    border: #a04242 solid 1px;
}

@media (min-width: 1300px) {
    .container {
        width: 1285px;
    }
}

.container_mb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon_mb {
    display: flex;
}

@media (min-width: 900px) {
    .header .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}
