.wrapper {
    display: flex;
}

.btn_style {
    width: 50px;
    height: 30px;
    border: none;
}

.btn_style:hover {
    cursor: pointer;
}

.text_style {
    width: 50px;
    font-size: 13px;
    padding: 10px 20px;
    margin: 0px 20px;
}
