.wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 15px;

  .title_checkout {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
  }

  .input_info {
    height: 50px;
    font-size: 15px;
  }

  .input_phone {
    height: 50px;
    margin-bottom: 5px;
    input {
      font-size: 15px;
    }
  }

  label {
    margin: 10px 0 5px;
  }

  p {
    color: #d32f2f;
    margin-top: 5px;
  }

  .btn_checkout {
    width: 100%;
    height: 40px;
    margin: 20px 0px 50px;
    background-color: #d32f2f;
    font-size: 13px;

    &:hover {
      background-color: #cc4c4c;
    }
  }
}
