.wrapper {
    margin: 130px 0px 50px;
    width: 100%;
}

.container {
    width: 80%;
    margin: 0px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart_products {
    text-align: center;
}

.quantity_cart {
    display: flex;
    justify-content: center;
}

.increase_qty {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.increase_qty:hover {
    cursor: pointer;
}

.decrease_qty {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.decrease_qty:hover {
    cursor: pointer;
}

.img {
    width: 250px;
}
